@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* common shared style */
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"), url('../images/developer.png');
  background-repeat: no-repeat;
  background-position:bottom right, top left ;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
  margin-top: 67px;
}
.user-img {
  display: inline-block;
  float: right;
}
.user-img .profil-photo {
  margin-bottom: -5px;
}

.banner .profil-photo {
  width: 584px;
}

.banner-greeting {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-despciton {
  max-width: 500px;
}

/* main section style */
.about-info-container {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}
.about-inf {
  text-align: center;
}
.info-title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}
/* 
about section style */

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}
.section-title {
  text-align: center;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.section-descripton {
  color: #757575;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
}

#wht-i-do {
  padding: 30px 150px;
}

/* skil container style */

.skil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 40px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skil {
  padding: 30px;
  text-align: center;
}
.skil-heding {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}
.skil-despcrison {
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.edu-headding {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}

.resume-container {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}
.resume-container hr {
  margin: 10px;
}
.resume-itm-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume-desp {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.down-cv {
  text-align: center;
  margin-top: 50px;
}
button {
  border-radius: 5px;
  background: #fd6e0a;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  background: #fff8f3;
  margin-top: 110px;
  padding: 130px 230px;
  gap: 117px;

}

.footer-colom {
  width: 50%;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  background: #FFF;
  border: 0;
}

/* kono tex and i cone vitor gap nita chila amra margin use korta pari */

.socail-link a{
margin-right: 20px;
}