@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* common shared style */
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
  margin-top: 67px;
}
.user-img {
  display: inline-block;
  float: right;
}
.user-img .profil-photo {
  margin-bottom: -5px;
}

.banner .profil-photo {
  width: 584px;
}

.banner-greeting {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-despciton {
    max-width: 500px;
}

